body{
    height:90vh;
    margin:10px;
}

.search input{

    margin: 100px 80px;
    width: 10%;
}
.search input:hover{
    transition:0.5s;
    padding:0   px 5px;
    border: 2px solid grey;
     width: 25%;

}